<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228747902337-trvnr8044off7en695o1081k863rqkbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228747902337-trvnr8044off7en695o1081k863rqkbr</string>
	<key>API_KEY</key>
	<string>AIzaSyBXUs98h-5HQ7rQTBOvg4hutbMTTISZjts</string>
	<key>GCM_SENDER_ID</key>
	<string>228747902337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.meedu.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-auth-bb48d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-auth-bb48d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228747902337:ios:3e1c763814e60cc02e3c80</string>
</dict>
</plist>